<div
  class="overflow-hidden rounded-lg bg-white shadow-sm my-4 w-full max-w-lg p-4 flex flex-col gap-y-2"
>
  <div class="flex items-start">
    <fa-icon [icon]="alertIcon()" class="text-{{ iconColor() }}-500"></fa-icon>

    <div class="ml-4">
      <h4 class="font-semibold">{{ title() }}</h4>

      <p class="text-sm text-gray-500 mt-1">{{ message() }}</p>

      <span
        class="flex items-center rounded-md px-2 py-1 text-xs font-medium self-start text-{{ badgeColor() }}-500 bg-{{ badgeColor() }}-100 w-fit"
      >
        {{type()}}
      </span>
    </div>
  </div>

  <ng-content></ng-content>
</div>
